<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Pro-Pops</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/newform.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <%- include("../includes/navbar") %> <%- include("../includes/flash") %> <%-
    body %> <%- include("../includes/footer") %>

    <script src="/js/toast.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/validateReview.js"></script>
  </body>
</html>
